:root {
  --r-r-dots-color: #000;
  --r-r-dots-bg-color: transparent;
  --r-r-dots-color-active: #fff;
  --r-r-dots-bg-color-active: #000;
  --r-r-font-family: inherit;
}

.r-r__carousel-wrapper {
  position: relative;
  // with controls position outside
  padding: 0 32px;
}

.r-r__carousel-inner-wrapper {
  position: relative;
}

.r-r__carousel {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  margin: 16px 0;
  font-family: var(--r-r-font-family, arial, Helvetica, sans-serif);

  * {
    box-sizing: border-box;
  }
}

.r-r__track {
  display: flex;
  flex-wrap: nowrap;
  cursor: ew-resize;
}

.r-r__slide {
  transition: all 400ms ease;
  outline: none;
  // TODO: Do not block user interaction when not transitioning
  user-select: none !important;
}

.r-r__controls {
  > button {
    margin: 0 8px;
    position: absolute;
    top: 50%;
    left: -48px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;

    &.r-r__button--with-icon {
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      background: #000;
      color: #fff;
      border-radius: 50%;
      border: none;
      box-shadow: 2px 2px 5px 0 rgba(#000, 0.2);
      transition: all 300ms ease;

      svg {
        width: 16px;
        height: 100%;
      }

      &:hover,
      &:focus {
        background: #343434;
      }
    }

    &.r-r__button--previous {
      svg {
        transform: rotate(-180deg);
      }
    }

    &.r-r__button--next {
      right: -48px;
      left: auto;
    }
  }
}

.r-r__dots {
  display: flex;
  padding: 0 0 8px 0;
  align-items: center;
  justify-content: flex-end;

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &--left {
    justify-content: flex-start;
  }

  .r-r__dot {
    padding: 4px;

    & > * {
      background: #aaa;
      border: 1px solid var(--r-r-dots-bg-color, #000);
      color: var(--r-r-dots-color, #000);
      display: flex;
      padding: 0;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      font-size: 11px;
      transition: all 200ms ease;
      width: 8px;
      height: 8px;

      &.with-number {
        background: transparent;
        width: 24px;
        height: 24px;
        line-height: 24px;
      }
    }

    &--active {
      & > *,
      & > *.with-number {
        background: #000;
        color: #fff;
      }
    }
  }
}

.debug-mode {
  padding: 24px;
  .inner {
    display: flex;
    flex-wrap: wrap;
  }
  .debug-box {
    margin: 8px;
    padding: 12px;
    border: 1px solid #000;
    width: calc(100% / 3);
  }
}

// only used in debug mode
.r-r__carousel--debug {
  .r-r__slide--active {
    box-shadow: inset 0 0 0 2px blue;
  }
  .r-r__slide {
    &:focus {
      background: yellow;
    }
  }
}
